<ng-container *ngIf="username">

    <div class="row">
        <div class="col-12">
            <dcf-ui-admin-content-header [headerText]='componentHeader' [subheaderText]='componentSubheader'></dcf-ui-admin-content-header>
            <p *ngIf="responseMessage" class="text-danger m-0 my-3">{{responseMessage}}</p>
        </div>
    </div>

    <form #f="ngForm" novalidate (ngSubmit)="resetPassword(f.value, f.valid)" id="myForm" name="myForm" class="p-2 mt-2">
            
        <div class="form-group row">
            <label for="password" class="col-lg-2 col-form-label">Nowe hasło</label>
            <div class="col">
                <input type="password" class="form-control" name="password" [(ngModel)]="formModel.password" 
                    required validateEqual="confirmPassword" reverse="true" #password="ngModel"
                    placeholder="nowe hasło" tabindex="1" autofocus (focus)="responseMessage = null">
                <small class="text-danger" [hidden]="password.valid || (password.pristine && !f.submitted)">
                    Hasło jest wymagane.
                </small>
            </div>
        </div>


        <div class="form-group row">
            <label for="confirmPassword" class="col-lg-2 col-form-label">Powtórz hasło</label>
            <div class="col">
                <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="formModel.confirmPassword" 
                    required validateEqual="password" #confirmPassword="ngModel"
                    placeholder="powtórz hasło" tabindex="2" autofocus (focus)="responseMessage = null">
                <small class="text-danger" [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)">
                    Hasło powtórzone niezgodne.
                </small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-lg-2"></div>
            <div class="col-12 col-lg-10">
                <input type="submit" [disabled]="!f.valid" value="zatwierdź" [ngClass]="{'app-cursor-pointer': f.valid, 'app-cursor-not-allowed': !f.valid}" class="btn btn-primary mb-1 col-12 col-md-3 col-lg-2 float-md-right" tabindex="3">
                <input type="button" value="anuluj" class="app-cursor-pointer btn btn-danger mb-1 col-12 col-md-3 col-lg-2" (click)="handleCancel()" tabindex="4">
                <input type="reset" value="resetuj" class="app-cursor-pointer btn btn-outline-secondary mb-1 col-12 col-md-3 col-lg-2" tabindex="5">
            </div>
        </div>

    </form>

</ng-container>
