<h1 class="m-0 p-0">{{documentToDisplay.name}}</h1>
<p class="h5 mt-0 mb-0 p-0 text-muted">{{documentToDisplay.id}}<span *ngIf="documentToDisplay.register"> / {{documentToDisplay.register}}</span> / {{documentToDisplay.input_date}}</p>

<div class="row mb-1">
    <div class="col-12 col-lg-8">
        <p *ngIf="documentToDisplay.ready==='FALSE'" class="text-danger mt-0 mb-1">dokument niezatwierdzony</p>
        <p *ngIf="documentToDisplay.ready==='TRUE' && documentToDisplay.assigned_user === null" class="text-danger mt-0 mb-1">dokument niezarezerwowany</p>
        <p *ngIf="documentToDisplay.ready==='TRUE' && documentToDisplay.assigned_user === authenticationService.getUser().id" class="text-primary mt-0 mb-1">dokument zarezerwowany</p>
    </div>

    <div class="col-12 col-lg-4">
        <button *ngIf="documentToDisplay.ready==='TRUE' && documentToDisplay.assigned_user === null" class="app-cursor-pointer btn btn-primary btn-sm col-12 col-lg-auto float-md-right" (click)="assignDocument()" tabindex="1">zarezerwuj</button>
        <button *ngIf="documentToDisplay.ready==='TRUE' && documentToDisplay.assigned_user === authenticationService.getUser().id" class="app-cursor-pointer btn btn-primary btn-sm col-12 col-lg-auto float-md-right" (click)="reAssignDocument()" tabindex="1">anuluj rezerwację</button>
    </div>
</div>



<table class="table table-sm  table-bordered">
    <tbody>
        
        <tr>
            <th scope="row" class="app-col-narrow"><small><b>wystawca</b></small></th>
            <td class="app-col-wide">{{author.name}}<br /><small>{{author.address}}</small></td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>nr. wg wystawcy</b></small></th>
            <td class="app-col-wide">{{documentToDisplay.id_by_author}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>wystawiony dnia</b></small></th>
            <td class="app-col-wide">{{documentToDisplay.date_by_author}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>dod. informacje</b></small></th>
            <td class="app-col-wide">{{documentToDisplay.additional_info}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>ścieżka obiegu</b></small></th>
            <td class="app-col-wide">{{path.name}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>akcja w ścieżce</b></small></th>
            <td class="app-col-wide">{{pathstep.name}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>plik</b></small></th>
            <td class="app-col-wide"><a href="{{documentToDisplay.file_path}}">pobierz</a></td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>zatwierdzony</b></small></th>
            <td [ngClass]="{'text-success': documentToDisplay.ready === 'TRUE', 'text-danger': documentToDisplay.ready === 'FALSE' }" class="app-col-wide">{{documentToDisplay.ready === 'TRUE' ? 'TAK' : 'NIE'}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>zamknięty</b></small></th>
            <td [ngClass]="{'text-success': documentToDisplay.closed === 'TRUE', 'text-danger': documentToDisplay.closed === 'FALSE' }" class="app-col-wide">{{documentToDisplay.closed === 'TRUE' ? 'TAK' : 'NIE'}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>wiadomość</b></small></th>
            <td class="app-col-wide">{{documentToDisplay.message}}</td>
        </tr>

    </tbody>
</table>


<div *ngIf="documentToDisplay.ready==='FALSE'" class="form-group row">
    <div class="col-12">
        <button class="app-cursor-pointer btn btn-primary btn-sm col-12 col-md-auto mb-1 float-md-right" (click)="acceptDocument()" tabindex="1">zatwierdź</button>
        <button class="app-cursor-pointer btn btn-primary btn-sm col-12 col-md-auto mb-1 mr-1 float-md-right" (click)="router.navigate(['../../resetpassword',document.id], { relativeTo: currentRoute })" tabindex="2">edycja</button>
        <button class="app-cursor-pointer btn btn-danger  btn-sm col-12 col-md-auto mb-1 float-md-left" (click)="deleteDocument()" tabindex="3">usuń dokument</button>
    </div>
</div>



<section *ngIf="documentToDisplay.ready === 'TRUE'" class="border p-2 mb-2 app-bgcolor-lightgray">

    <h3>{{pathstep.name}}</h3>

    <form #f="ngForm" class="form-inline" (ngSubmit)="doPathStepAction()">
        <div class="form-group mb-2">
            <label for="action" class="mr-2">Akcja</label>
            <select name="action" class="form-control form-control-sm mr-2" id="action" [(ngModel)]="selectedAction" tabindex="1" value="2">
                <option *ngIf="pathstep.action_next==='TRUE'" value="1">Wykonaj i przekaż dalej</option>
                <option *ngIf="pathstep.action_archive==='TRUE'" value="2">Wykonaj i archiwizuj</option>
                <option *ngIf="pathstep.action_cancel==='TRUE'" value="3">Odrzuć</option>
                <option *ngIf="pathstep.action_change==='TRUE'" value="4">Przekaż do innej ścieżki</option>
            </select>
        </div>
        <button type="submit" class="btn btn-sm btn-primary mb-2">wykonaj</button>
    </form>

</section>
