<h1 class="m-0 p-0">{{documentToDisplay.name}}</h1>
<p class="h5 mt-0 mb-0 p-0 text-muted">{{documentToDisplay.id}}<span *ngIf="documentToDisplay.register"> / {{documentToDisplay.register}}</span> / {{documentToDisplay.input_date}}</p>

<div class="row mb-1">
    <div class="col-12 col-lg-8">
        <p *ngIf="documentToDisplay.ready==='FALSE' && documentToDisplay.closed==='FALSE'" class="text-danger mt-0 mb-1">dokument niezatwierdzony</p>
        <p *ngIf="documentToDisplay.ready==='TRUE' && documentToDisplay.assigned_user === null && documentToDisplay.closed==='FALSE'" class="text-danger mt-0 mb-1">dokument niezarezerwowany</p>
        <p *ngIf="documentToDisplay.ready==='TRUE' && documentToDisplay.assigned_user === authenticationService.getUser().id && documentToDisplay.closed==='FALSE'" class="text-primary mt-0 mb-1">dokument zarezerwowany</p>
        <p *ngIf="documentToDisplay.closed==='TRUE'" class="text-success mt-0 mb-1">dokument zamknięty</p>
    </div>

    <div class="col-12 col-lg-4">
        <button *ngIf="documentToDisplay.ready==='TRUE' && documentToDisplay.assigned_user === null && documentToDisplay.closed==='FALSE'" class="app-cursor-pointer btn btn-primary btn-sm col-12 col-lg-auto float-md-right" (click)="assignDocument()" tabindex="1">zarezerwuj</button>
        <button *ngIf="documentToDisplay.ready==='TRUE' && documentToDisplay.assigned_user === authenticationService.getUser().id" class="app-cursor-pointer btn btn-primary btn-sm col-12 col-lg-auto float-md-right" (click)="reAssignDocument()" tabindex="1">anuluj rezerwację</button>
    </div>
</div>


<hr class="mx-0 my-2">


<div class="row">
    <div class="col-xl-3">
        <p class="m-0"><small><b>wystawca</b></small></p>
    </div>
    <div class="col-xl-9">
        <p class="m-0">{{author.name}}<br /><small>{{author.address}}</small></p>
    </div>
</div>


<hr class="mx-0 my-2">


<div class="row">
    <div class="col-xl-3">
        <p class="m-0"><small><b>nr. wystawcy</b></small></p>
    </div>
    <div class="col-xl-9">
        <p class="m-0">{{documentToDisplay.id_by_author}}</p>
    </div>
</div>


<hr class="mx-0 my-2">


<div class="row">
    <div class="col-xl-3">
        <p class="m-0"><small><b>wystawiony dnia</b></small></p>
    </div>
    <div class="col-xl-9">
        <p class="m-0">{{documentToDisplay.date_by_author}}</p>
    </div>
</div>
    
    
<hr class="mx-0 my-2">
    
    
<div class="row">
    <div class="col-xl-3">
        <p class="m-0"><small><b>dod. info.</b></small></p>
    </div>
    <div class="col-xl-9">
        <p class="m-0">{{documentToDisplay.additional_info}}</p>
    </div>
</div>
        
        
<hr class="mx-0 my-2">
    

<div class="row">
    <div class="col-xl-3">
        <p class="m-0"><small><b>plik</b></small></p>
    </div>
    <div class="col-xl-9">
        <p class="m-0"><a href="{{documentToDisplay.file_path}}">pobierz</a></p>
    </div>
</div>
            
            
<hr class="mx-0 my-2">
        
    
<div class="row">
    <div class="col-xl-3">
        <p class="m-0"><small><b>wiadomość</b></small></p>
    </div>
    <div class="col-xl-9">
        <p class="m-0">{{documentToDisplay.message}}</p>
    </div>
</div>
                
                
<hr class="mx-0 my-2">
            
        
<div class="row">
    <div class="col-xl-3">
        <p class="m-0"><small><b>ścieżka obiegu</b></small></p>
    </div>
    <div class="col-xl-9">
        <p class="m-0">{{path.name}}</p>
    </div>
</div>



<ng-container *ngIf="documentToDisplay.ready === 'TRUE' && documentToDisplay.assigned_user === null" >

    <hr class="mx-0 my-2">    


    <div class="row">
        <div class="col-xl-3">
            <p class="m-0"><small><b>akcja w ścieżce</b></small></p>
        </div>
        <div class="col-xl-9">
            <p class="m-0">{{pathstep.name}}</p>
        </div>
    </div>
                                    

    <hr class="mx-0 my-2">

</ng-container>


<div *ngIf="documentToDisplay.ready==='FALSE'" class="form-group row">
    <div class="col-12">
        <hr class="mx-0 my-2">
        <button class="app-cursor-pointer btn btn-primary btn-sm col-12 col-md-auto mb-1 float-md-right" (click)="acceptDocument()" tabindex="1">zatwierdź</button>
        <button class="app-cursor-pointer btn btn-primary btn-sm col-12 col-md-auto mb-1 mr-1 float-md-right" (click)="router.navigate(['../document/edit',documentToDisplay.id], { relativeTo: currentRoute })" tabindex="2">edycja</button>
        <button class="app-cursor-pointer btn btn-danger  btn-sm col-12 col-md-auto mb-1 float-md-left" (click)="deleteDocument()" tabindex="3">usuń dokument</button>
    </div>
</div>




<section *ngIf="documentToDisplay.ready === 'TRUE' && documentToDisplay.assigned_user !== null && documentToDisplay.closed==='FALSE'" class="border app-bgcolor-lightgray my-2 px-2 py-0">
    
    <div class="row">
        <div class="col">
            <h3>{{pathstep.name}}</h3>
        </div>
    </div>

    <form #f="ngForm" class="form" (ngSubmit)="submitForm(f.value, f.valid)">
        
        <div class="form-group row">
            <label for="actionId" class="col-12 col-lg-2 col-form-label">Akcja</label>
            <div class="col">
                <select name="actionId" class="form-control form-control-sm" id="actionId" [(ngModel)]="formModel.actionId" tabindex="2" #actionId="ngModel">
                    <option *ngIf="pathstep.action_next==='TRUE'" value="1">Wykonaj i przekaż dalej</option>
                    <option *ngIf="pathstep.action_archive==='TRUE'" value="2">Wykonaj i archiwizuj</option>
                    <option *ngIf="pathstep.action_cancel==='TRUE'" value="3">Odrzuć</option>
                    <option *ngIf="pathstep.action_change==='TRUE'" value="4">Przekaż do innej ścieżki</option>
                </select> 
            </div>
        </div>

        <div class="form-group row">
            <label for="message" class="col-lg-2 col-form-label">wiadomość</label>
            <div class="col">
                <textarea [(ngModel)]="formModel.message" name="message" class="form-control form-control-sm" #message="ngModel" id="message" rows="2"  tabindex="3"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col">
                <button type="submit" class="btn btn-sm btn-primary col-12 col-lg-auto float-lg-right mb-0">wykonaj</button>
            </div>
        </div>

    </form>

</section>