<h1 class="m-0 p-0">{{documentToDisplay.name}}</h1>
<p class="h5 mt-0 mb-3 p-0 text-muted">{{documentToDisplay.id}}<span *ngIf="documentToDisplay.register"> / {{documentToDisplay.register}}</span> / {{documentToDisplay.input_date}}</p>

<table class="table table-sm  table-bordered">
    <tbody>
        
        <tr>
            <th scope="row" class="app-col-narrow"><small><b>wystawca</b></small></th>
            <td class="app-col-wide">{{author.name}}<br /><small>{{author.address}}</small></td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>nr. wg wystawcy</b></small></th>
            <td class="app-col-wide">{{documentToDisplay.id_by_author}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>wystawiony dnia</b></small></th>
            <td class="app-col-wide">{{documentToDisplay.date_by_author}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>dod. informacje</b></small></th>
            <td class="app-col-wide">{{documentToDisplay.additional_info}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>ścieżka obiegu</b></small></th>
            <td class="app-col-wide">{{path.name}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>akcja w ścieżce</b></small></th>
            <td class="app-col-wide">{{pathstep.name}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>plik</b></small></th>
            <td class="app-col-wide"><a href="{{documentToDisplay.file_path}}">pobierz</a></td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>zatwierdzony</b></small></th>
            <td [ngClass]="{'text-success': documentToDisplay.ready === 'TRUE', 'text-danger': documentToDisplay.ready === 'FALSE' }" class="app-col-wide">{{documentToDisplay.ready === 'TRUE' ? 'TAK' : 'NIE'}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>zamknięty</b></small></th>
            <td [ngClass]="{'text-success': documentToDisplay.closed === 'TRUE', 'text-danger': documentToDisplay.closed === 'FALSE' }" class="app-col-wide">{{documentToDisplay.closed === 'TRUE' ? 'TAK' : 'NIE'}}</td>
        </tr>

        <tr>
            <th scope="row" class="app-col-narrow"><small><b>wiadomość</b></small></th>
            <td class="app-col-wide">{{documentToDisplay.message}}</td>
        </tr>

    </tbody>
</table>


<div *ngIf="documentToDisplay.ready==='FALSE'" class="form-group row">
    <div class="col-12">
        <button class="app-cursor-pointer btn btn-primary btn-sm col-12 col-md-auto mb-1 float-md-right" (click)="acceptDocument()" tabindex="1">zatwierdź</button>
        <button class="app-cursor-pointer btn btn-primary btn-sm col-12 col-md-auto mb-1 mr-1 float-md-right" (click)="router.navigate(['../../resetpassword',document.id], { relativeTo: currentRoute })" tabindex="2">edycja</button>
        <button class="app-cursor-pointer btn btn-danger  btn-sm col-12 col-md-auto mb-1 float-md-left" (click)="deleteDocument()" tabindex="3">usuń dokument</button>
    </div>
</div>

<div *ngIf="documentToDisplay.ready==='TRUE' && documentToDisplay.assigned_user === null" class="form-group row">
    <div class="col-12">
        <button class="app-cursor-pointer btn btn-primary btn-sm col-12 col-md-auto mb-1 float-md-right" (click)="assignDocument()" tabindex="1">zarezerwuj do realizacji</button>
    </div>
</div>