# See http://help.github.com/ignore-files/ for more about ignoring files.

# php and sqlite files
/php_sqlite

# work in progress - documents
/wip_docs

# dependencies
/node_modules

# System Files
.DS_Store
Thumbs.db
