.app-hover-darker:hover {
    background: rgba(0,0,0,0.05);
}

.app-cursor-pointer {
    cursor: pointer;
}

.app-cursor-not-allowed {
    cursor: not-allowed;
}

.app-bgcolor-lightgray {
    background: #e9ecef;
}

.app-col-narrow {
    width: 20%;
}

.app-col-wide {
    width: 80%;
}

