<section class="container-fluid mt-3">
    
    <div class="row">
    
        <div class="col-sm-5 col-md-4 col-lg-3">
            <section class="m-0 p-0 mb-2">
  
                <dcf-ui-admin-list-header [headerConfiguration]='headerConfiguration'></dcf-ui-admin-list-header>
                
                <ul class="list-unstyled" *ngIf="paths.length > 0">
                    <li *ngFor="let path of paths" class="p-2 border border-top-0 app-hover-darker app-cursor-pointer" (click)="selectedPath = path; router.navigate(['view',selectedPath.id], { relativeTo: currentRoute })">
                        {{path.name}}
                    </li>
                </ul>
  
                <button class="btn btn-primary app-cursor-pointer btn-block mt-2" (click)="selectedPath = {}; router.navigate(['new'], { relativeTo: currentRoute })">nowa ścieżka</button>
            </section>
        </div>
  
        <div class="col-sm-7 col-md-8 col-lg-9">
  
            <p *ngIf="router.url === '/admin/path'">Wybierz ścieżkę z listy aby obejrzeć szczegóły...</p>
  
            <router-outlet></router-outlet>
  
        </div>
  
    </div>
  </section>