<ng-container *ngIf="author">

  <dcf-ui-admin-content-header [headerConfiguration]='headerConfiguration'></dcf-ui-admin-content-header>

  <table class="table table-sm  table-bordered">
      <tbody>

          <tr>
              <td class="app-col-narrow">pełna nazwa:</td>
              <td class="app-col-wide">{{author.full_name}}</td>
          </tr>
          <tr>
            <td class="app-col-narrow">adres:</td>
            <td class="app-col-wide">{{author.address}}</td>
        </tr>
          <tr>
              <td class="app-col-narrow">telefon:</td>
              <td class="app-col-wide">{{author.phone_number}}</td>
          </tr>
          <tr>
              <td class="app-col-narrow">email:</td>
              <td class="app-col-wide"><a href="mailto:{{author.email_address}}">{{author.email_address}}</a></td>
          </tr>
          <tr>
              <td class="app-col-narrow">informacje dodatkowe:</td>
              <td class="app-col-wide">{{author.additional_info}}</td>
          </tr>
      </tbody>
  </table>

  <div class="form-group row">
      <div class="col-12">
          <button class="app-cursor-pointer btn btn-primary col-12 col-md-auto mb-1 float-md-right" (click)="router.navigate(['../../edit',author.id], { relativeTo: currentRoute })" tabindex="1">edytuj autora</button>
          <button  *ngIf="canBeDeleted(author)" class="app-cursor-pointer btn btn-danger  col-12 col-md-auto mb-1 float-md-left" (click)="router.navigate(['../../delete',author.id], { relativeTo: currentRoute })" tabindex="3">usuń autora</button>
      </div>
  </div>

</ng-container>
