<ng-container *ngIf="user">

    <dcf-ui-admin-content-header [headerText]='componentHeader' [subheaderText]='componentSubheader'></dcf-ui-admin-content-header>

    <table class="table table-sm  table-bordered">
        <tbody>
            <tr>
                <td [ngClass]="{'text-success': user.is_active === 'TRUE', 'text-danger': user.is_active === 'FALSE' }" class="app-col-narrow">konto aktywne:</td>
                <td [ngClass]="{'text-success': user.is_active === 'TRUE', 'text-danger': user.is_active === 'FALSE' }" class="app-col-wide">{{user.is_active === 'TRUE' ? 'TAK' : 'NIE'}}</td>
            </tr>
            <tr>
                <td [ngClass]="{'text-success': user.is_user === 'TRUE', 'text-danger': user.is_user === 'FALSE' }" class="app-col-narrow">użytkownik:</td>
                <td [ngClass]="{'text-success': user.is_user === 'TRUE', 'text-danger': user.is_user === 'FALSE' }" class="app-col-wide">{{user.is_user === 'TRUE' ? 'TAK' : 'NIE'}}</td>
            </tr>
            <tr>
                <td [ngClass]="{'text-success': user.is_admin === 'TRUE', 'text-danger': user.is_admin === 'FALSE' }" class="app-col-narrow">administrator:</td>
                <td [ngClass]="{'text-success': user.is_admin === 'TRUE', 'text-danger': user.is_admin === 'FALSE' }" class="app-col-wide">{{user.is_admin === 'TRUE' ? 'TAK' : 'NIE'}}</td>
            </tr>
            <tr>
                <td class="app-col-narrow">pełna nazwa:</td>
                <td class="app-col-wide">{{user.full_name}}</td>
            </tr>
            <tr>
                <td class="app-col-narrow">telefon:</td>
                <td class="app-col-wide">{{user.phone_number}}</td>
            </tr>
            <tr>
                <td class="app-col-narrow">email:</td>
                <td class="app-col-wide"><a href="mailto:{{user.email_address}}">{{user.email_address}}</a></td>
            </tr>
            <tr>
                <td class="app-col-narrow">informacje dodatkowe:</td>
                <td class="app-col-wide">{{user.additional_info}}</td>
            </tr>
        </tbody>
    </table>

    <div class="form-group row">
        <div class="col-12">
            <button class="app-cursor-pointer btn btn-primary col-12 col-md-auto mb-1 float-md-right" (click)="router.navigate(['../../edit',user.id], { relativeTo: currentRoute })" tabindex="1">edycja użytkownika</button>
            <button class="app-cursor-pointer btn btn-primary col-12 col-md-auto mb-1 mr-1 float-md-right" (click)="router.navigate(['../../resetpassword',user.id], { relativeTo: currentRoute })" tabindex="2">resetuj hasło</button>
            <button  *ngIf="!loggedUser" class="app-cursor-pointer btn btn-danger  col-12 col-md-auto mb-1 float-md-left" (click)="router.navigate(['../../delete',user.id], { relativeTo: currentRoute })" tabindex="3">usuń użytkownika</button>
        </div>
    </div>

</ng-container>
