<div class="container">

    <div class="form-signin">

        <form (submit)="login()" novalidate [ngClass]="{'was-validated': isFormValidated }">
        
            <div class="form-group">
                <h2 class="form-signin-heading">Zaloguj się</h2>
            </div>

            <div class="form-group">
                <label for="inputUsername" class="sr-only">Nazwa użytkownika</label>
                <input type="text" class="form-control" id="inputUsername" required
                    [(ngModel)]="username" name="inputUsername" placeholder="Nazwa użytkownika (wymagana)"
                    tabindex="1" autofocus (focus)="responseMessage = null">

                <div class="invalid-feedback">
                    Wprowadź nazwę użytkownika.
                </div>
            </div>


            <div class="form-group">
                <label for="inputPassword" class="sr-only">Hasło</label>
                <input type="password" class="form-control" id="inputPassword" required
                    [(ngModel)]="password" name="inputPassword" placeholder="Hasło (wymagane)"
                    tabindex="2" (focus)="responseMessage = null">
                    
                <div class="invalid-feedback">
                    Wprowadź hasło.
                </div>
            </div>
        
            <div class="form-group">
                <input type="submit" value="Zaloguj się" class="btn btn-lg btn-primary btn-block app-cursor-pointer" tabindex="3">        
            </div>

        </form>

        <p *ngIf="responseMessage" class="text-danger m-0 my-3">{{responseMessage}}</p>
    </div>

</div> <!-- /container -->