<div class="row">
  <div class="col-12">
      <dcf-ui-admin-content-header [headerConfiguration]='headerConfiguration'></dcf-ui-admin-content-header>
      <p *ngIf="responseMessage" class="text-danger m-0 my-3">{{responseMessage}}</p>
  </div>

  <div class="col-12 mt-3">
      <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading">Uwaga!</h4>
          <p>Potwierdź zamiar usunięcia akcji.</p>
          <hr>
          <p class="mb-0">Jeśli usuniesz akcję to zostanie ona usunięta z listy dostępnych akcji.
          </p>
      </div>
  </div>
</div>
  
<form (submit)="submitForm()" class="ssp-2 ssmt-2">
  
<div class="form-group row">
  <div class="col-12">
      <dcf-ui-admin-form-buttons  [formButtons]="formButtonConfiguration"></dcf-ui-admin-form-buttons>
  </div>
</div>

</form>
  
