<dcf-ui-user-tool-header [headerConfiguration]='headerConfiguration'></dcf-ui-user-tool-header>
<input type="text" class="form-control" placeholder="filtruj..." [(ngModel)]="filter" name="filter">

<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Nazwa pełna</th>
      <th scope="col">Adres</th>
    </tr>
  </thead>
  <tbody>

    <ng-container *ngFor="let author of filteredAuthors(); let i = index">
        
        <!-- display only elements from current page -->
        <tr *ngIf="(i >= (page-1)*10) && (i <= (page*10)-1)">
            <td>{{author.id}}</td>
            <td>{{author.name}}</td>
            <td>{{author.full_name}}</td>
            <td>{{author.address}}</td>
        </tr>

    </ng-container>

  </tbody>
</table>



<nav aria-label="nawigacja pomiędzy stronami wyników">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item active"><input type="button" class="page-link" (click)="setPage(1)" value="1"></li>
      <li class="page-item"><input type="button" class="page-link" (click)="setPage(2)" value="2"></li>
      <li class="page-item disabled"><input type="button" class="page-link" (click)="setPage(3)" value="3"></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>


<hr>
total pages: {{totalPages}} / strona: {{page}}