<nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
    <span class="navbar-brand mb-0 h1">DocFlow - ADMIN AREA</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Users <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">User groups</a>
            <a class="nav-item nav-link" href="#">Doc paths</a>
        </div>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPersonality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My account
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPersonality">
                  <a class="dropdown-item" href="#">change password</a>
                  <button class="dropdown-item" (click)="logout()">logout</button>
                </div>
            </div>
        </div>
    </div>
</nav>

<div>
  <p>logged?: {{authenticationService.isAuthenticated()}}</p>
  <p *ngIf="authenticationService.getUser()">username: {{authenticationService.getUser().username}}</p>
</div>
