<nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">

    <a class="navbar-brand" [routerLink]="['home']">DocFlow (administracja)</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a [routerLink]="['userlist']" class="nav-item nav-link">Użytkownicy</a>
            <a [routerLink]="['grouplist']" class="nav-item nav-link">Role</a>
            <a [routerLink]="['pathlist']" class="nav-item nav-link">Ścieżki</a>
        </div>
    </div>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPersonality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ({{authenticationService.getUser().username}}) konto
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPersonality">
                    <button *ngIf="authenticationService.isUser()" class="dropdown-item app-cursor-pointer" (click)="router.navigate(['/user'])">przejdź do panelu Użytkownika</button>
                    <a class="dropdown-item" href="#">zmień hasło</a>
                    <button class="dropdown-item app-cursor-pointer" (click)="logout()">wyloguj się</button>
                </div>
            </div>
        </div>
    </div>
</nav>

<router-outlet></router-outlet>
