<div class="row">
  <div class="col-12">
      <dcf-ui-admin-content-header [headerConfiguration]='headerConfiguration'></dcf-ui-admin-content-header>
      <p *ngIf="responseMessage" class="text-danger m-0 my-3">{{responseMessage}}</p>
  </div>
</div>


<form #f="ngForm" novalidate (ngSubmit)="submitForm(f.value, f.valid)" id="myForm" name="myForm" class="p-2 mt-2">

<div class="form-group row">
  <label for="name" class="col-lg-2 col-form-label">nazwa skrócona</label>
  <div class="col">

      <input type="text" class="form-control" name="name" [(ngModel)]="formModel.name" id="name"
          required validateUniqueAuthorName validateNoLeadingSpaces #name="ngModel"
          placeholder="nazwa skrócona (wymagana)" tabindex="1" autofocus>

      <small class="text-danger" [hidden]="name.valid || (name.pristine && !f.submitted)">
          <span *ngIf="name.errors && name.errors.required">Nazwa skrócona jest wymagana. </span>
          <span *ngIf="name.errors && name.errors.validateUniqueAuthorName">Istnieje już autor o takiej nazwie skróconej.</span>
          <span *ngIf="name.errors && name.errors.validateNoLeadingSpaces">Nazwa skrócona nie może rozpoczynać się ani kończyć spacją. </span>
      </small>
  </div>
</div>


<div class="form-group row">
  <label for="full_name" class="col-lg-2 col-form-label">nazwa pełna</label>
  <div class="col">

      <input type="text" class="form-control" name="full_name" [(ngModel)]="formModel.full_name" id="full_name"
          required validateNoLeadingSpaces #fullname="ngModel"
          placeholder="nazwa pełna (wymagana)" tabindex="2">

      <small class="text-danger" [hidden]="fullname.valid || (fullname.pristine && !f.submitted)">
          <span *ngIf="fullname.errors && fullname.errors.required">Nazwa skrócona jest wymagana. </span>
          <span *ngIf="fullname.errors && fullname.errors.validateNoLeadingSpaces">Nazwa pełna nie może rozpoczynać się ani kończyć spacją. </span>
      </small>
  </div>
</div>



<div class="form-group row">
  <label for="address" class="col-lg-2 col-form-label">adres</label>
  <div class="col">
      <textarea [(ngModel)]="formModel.address" name="address" class="form-control" id="address" rows="3"  tabindex="3"></textarea>
  </div>
</div>


<div class="form-group row">
  <label for="phone_number" class="col-lg-2 col-form-label">telefon</label>
  <div class="col">
      <input [(ngModel)]="formModel.phone_number" name="phone_number" type="text" class="form-control" id="phone_number" placeholder="telefon" tabindex="7">
  </div>
</div>
  
<div class="form-group row">
  <label for="email" class="col-lg-2 col-form-label">email</label>
  <div class="col">

      <input [(ngModel)]="formModel.email_address" #email="ngModel" name="email_address" [pattern]="emailPattern" type="text" class="form-control" id="email" placeholder="adres email" tabindex="8">
      
      <small class="text-danger" [hidden]="email.valid">
          Niepoprawny adres email.
      </small>
  </div>
</div>
  

<div class="form-group row">
  <label for="additional_info" class="col-lg-2 col-form-label">dodatkowe informacje</label>
  <div class="col">
      <textarea [(ngModel)]="formModel.additional_info" name="additional_info" class="form-control" id="additional_info" rows="3"  tabindex="9"></textarea>
  </div>
</div>


<div class="form-group row">
  <div class="col-lg-2"></div>
  <div class="col-12 col-lg-10">
      <dcf-ui-admin-form-buttons  [formButtons]="formButtonConfiguration"></dcf-ui-admin-form-buttons>
  </div>
</div>


</form>
