<section class="container my-5">

    <div class="row justify-content-center">

        <div class="col-sm-8 col-md-6 col-lg-4">
  
            <form #f="ngForm" novalidate (ngSubmit)="submitForm(f.valid)" id="myForm" name="myForm" class="p-2 mt-2">
      
                <div class="form-group">
                    <h2 class="m-0 p-0">{{authenticationService.getUser().username}}</h2>
                    <h5 class="text-muted m-0 p-0 mb-1">zmiana hasła</h5>
                </div>

                <div class="form-group">
                    <label for="oldPassword" class="form-label sr-only">Stare hasło</label>
                    <input type="password" class="form-control" name="oldPassword" [(ngModel)]="formModel.oldPassword" 
                        required #oldPassword="ngModel"
                        placeholder="stare hasło (wymagane)" tabindex="1" autofocus (focus)="responseMessage = null">
                    <small class="text-danger" [hidden]="oldPassword.valid || (oldPassword.pristine && !f.submitted)">
                        Stare hasło jest wymagane.
                    </small>
                </div>


                <div class="form-group">
                    <label for="password" class="form-label sr-only">Nowe hasło</label>
                    <input type="password" class="form-control" name="password" [(ngModel)]="formModel.password" 
                        required validateEqual="confirmPassword" reverse="true" #password="ngModel"
                        placeholder="nowe hasło (wymagane)" tabindex="2" (focus)="responseMessage = null">
                    <small class="text-danger" [hidden]="password.valid || (password.pristine && !f.submitted)">
                        Nowe hasło jest wymagane.
                    </small>
                </div>

                <div class="form-group">
                    <label for="confirmPassword" class="form-label sr-only">Powtórz hasło</label>
                    <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="formModel.confirmPassword" 
                        required validateEqual="password" #confirmPassword="ngModel"
                        placeholder="powtórz hasło (wymagane)" tabindex="3" (focus)="responseMessage = null">
                    <small class="text-danger" [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)">
                        Hasło powtórzone niezgodne.
                    </small>
                </div>
        
                <div class="form-group">
                    <p *ngIf="responseMessage" class="text-danger m-0 my-3">{{responseMessage}}</p>
                    <dcf-ui-admin-form-buttons  [formButtons]="formButtonConfiguration"></dcf-ui-admin-form-buttons>
                 </div>

            </form>

            

        </div>

    </div>

</section>



