<section class="container-fluid">
    <div class="row">
        <div class="col pt-3">

            <ul class="nav nav-tabs" id="userHomeTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'active': documentsNotReadyCount > 0 || (documentsAssignedCount === 0 && documentsNotAssignedCount === 0) }" id="documents-not-ready-tab" data-toggle="tab" href="#documents-not-ready" role="tab" aria-controls="niezatwierdzone" aria-selected="true">Niezatwierdzone ({{documentsNotReadyCount}})</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'show active': documentsNotReadyCount === 0 && documentsAssignedCount > 0 }" id="documents-assigned-tab" data-toggle="tab" href="#documents-assigned" role="tab" aria-controls="zarezerwowane" aria-selected="false">Zarezerwowane ({{documentsAssignedCount}})</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [ngClass]="{'show active': documentsNotReadyCount === 0 && documentsAssignedCount === 0 && documentsNotAssignedCount > 0 }" id="documents-not-assigned-tab" data-toggle="tab" href="#documents-not-assigned" role="tab" aria-controls="niezarezerwowane" aria-selected="false">Niezarezerwowane ({{documentsNotAssignedCount}})</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="documents-closed-tab" data-toggle="tab" href="#documents-closed" role="tab" aria-controls="zamknięte" aria-selected="false">Archiwum</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div [ngClass]="{'show active': documentsNotReadyCount > 0 || (documentsAssignedCount === 0 && documentsNotAssignedCount === 0) }" class="tab-pane fade border" id="documents-not-ready" role="tabpanel" aria-labelledby="niezatwierdzone-tab">
                <dcf-tool-select-documents-not-ready [documentsPerPage]="10" (onSelectDocument)="onSelectDocumentNotReady($event)"></dcf-tool-select-documents-not-ready>
              </div>
              <div [ngClass]="{'show active': documentsNotReadyCount === 0 && documentsAssignedCount > 0 }" class="tab-pane fade border" id="documents-assigned" role="tabpanel" aria-labelledby="zarezerwowane-tab">
                <dcf-tool-select-documents-assigned [documentsPerPage]="10" (onSelectDocument)="onSelectDocumentAssigned($event)"></dcf-tool-select-documents-assigned>
              </div>
              <div [ngClass]="{'show active': documentsNotReadyCount === 0 && documentsAssignedCount === 0 && documentsNotAssignedCount > 0 }" class="tab-pane fade border" id="documents-not-assigned" role="tabpanel" aria-labelledby="niezarezerwowane-tab">
                <dcf-tool-select-documents-not-assigned [documentsPerPage]="10" (onSelectDocument)="onSelectDocumentNotAssigned($event)"></dcf-tool-select-documents-not-assigned>
              </div>
              <div class="tab-pane fade border" id="documents-closed" role="tabpanel" aria-labelledby="archiwum-tab">
                
                <div class="clearfix">
                  <button type="button" class="btn btn-sm float-right m-2" (click)="toggleShowClosedDocumentsFilter()">
                  <span *ngIf="!showClosedDocumentsFilter">pokaż filtr</span>
                  <span *ngIf="showClosedDocumentsFilter">ukryj filtr</span>
                  </button>                    
                </div>
                

                <dcf-tool-set-documents-filter 
                  *ngIf="showClosedDocumentsFilter"
                  [(documentsFilter)]="documentsFilter"
                  (onFormCancel)="onCancelDocumentsFilter()"  
                  (onFormSubmit)="onSubmitDocumentsFilter($event)"
                ></dcf-tool-set-documents-filter>

                <dcf-tool-select-documents-closed 
                  *ngIf="!showClosedDocumentsFilter" 
                  [documentsPerPage]="10" 
                  [documentsFilter]="documentsFilter"
                  (onSelectDocument)="onSelectDocumentClosed($event)"
                ></dcf-tool-select-documents-closed>
              </div>
            </div>

        </div>

        <div class="col pt-3">
            <ng-container *ngIf="documentToDisplay">

                <dcf-tool-display-selected-document 
                    *ngIf="!showDocumentHistory" 
                    [documentToDisplay]='documentToDisplay' 
                    (onDeleteSelectedDocument)="onDeleteSelectedDocument($event)" 
                    (onAcceptSelectedDocument)="onAcceptSelectedDocument($event)"
                    (onAssignSelectedDocument)="onAssignSelectedDocument($event)"
                    (onReAssignSelectedDocument)="onReAssignSelectedDocument($event)"
                    (onDoPathStepAction)="onDoPathStepAction($event)"
                    >
                </dcf-tool-display-selected-document>

                <dcf-tool-display-selected-document-history *ngIf="showDocumentHistory" [documentToDisplay]='documentToDisplay'></dcf-tool-display-selected-document-history>
                <button (click)="toggleShowDocumentHistory()" class="btn btn-sm app-cursor-pointer mb-2" *ngIf="documentToDisplay.ready==='TRUE'">
                  <span *ngIf="showDocumentHistory">pokaż dokument</span>
                  <span *ngIf="!showDocumentHistory">pokaż historię</span>
                </button>
            </ng-container>
            
        </div>
    </div>
</section>
