<ng-container *ngIf="paths.length > 0">

  <dcf-ui-user-tool-header [headerConfiguration]='headerConfiguration'></dcf-ui-user-tool-header>
  <input type="text" class="form-control" placeholder="filtruj..." [(ngModel)]="filter" name="filter" (ngModelChange)="preparePathsArray()">
  
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col" (click)="clickNameHeader()" class="app-cursor-pointer">Nazwa</th>
        <th scope="col" (click)="clickInfoHeader()" class="app-cursor-pointer">Informacje dodatkowe</th>
      </tr>
    </thead>
    <tbody>
  
      <ng-container *ngFor="let path of pathsArray; let i = index">
          
          <!-- display only elements from current page -->
          <tr *ngIf="(i >= (page-1)*10) && (i <= (page*10)-1)" (click)="selectPath(path)" class="app-cursor-pointer">
              <td><small>{{path.name}}</small></td>
              <td><small>{{path.info}}</small></td>
          </tr>
  
      </ng-container>
  
    </tbody>
  </table>
  
  
  <nav>
      <ul class="pagination justify-content-center">
  
        <li [ngClass]="{'disabled app-cursor-not-allowed': page === 1}" class="page-item">
            <input type="button" [ngClass]="{'app-cursor-pointer': page > 1}" class="page-link" (click)="setPage(page-1)" value="&laquo;">
        </li>
  
        <li [ngClass]="{'active': pageArray[i] === page }" class="page-item" *ngFor="let element of pageArray; let i = index">
            <input type="button" [ngClass]="{'app-cursor-pointer': pageArray[i] !== page }" class="page-link" (click)="setPage(pageArray[i])" value="{{pageArray[i]}}">
        </li>
          
        <li [ngClass]="{'disabled app-cursor-not-allowed': page === pageArray[pageArray.length-1]}" class="page-item">
            <input type="button" [ngClass]="{'app-cursor-pointer': page < pageArray[pageArray.length-1]}" class="page-link" (click)="setPage(page+1)" value="&raquo;">
        </li>
  
      </ul>
  </nav>
  
  </ng-container>
  
  <p *ngIf="dataReadyToDisplay && paths.length === 0" class="text-danger">Nie masz uprawnień do wprowadzania nowych dokumentów do żadnej ścieżki obiegu dokumentów.</p>
  
  