<section class="container-fluid mt-3">
    
    <div class="row">
    
        <div class="col-sm-5 col-md-4 col-lg-3">
            <section class="m-0 p-0 mb-2">

                <dcf-ui-admin-list-header [headerConfiguration]='headerConfiguration'></dcf-ui-admin-list-header>

                <input type="text" class="form-control" placeholder="filtruj..." [(ngModel)]="filter" name="filter">
                <ul class="list-unstyled" *ngIf="filteredUsers().length > 0">
                    <li *ngFor="let user of filteredUsers()" class="p-2 border border-top-0 app-hover-darker app-cursor-pointer" (click)="selectedUser = user; router.navigate(['view',selectedUser.id], { relativeTo: currentRoute })">
                        {{user.username}}
                    </li>
                </ul>

            </section>
        </div>

        <div class="col-sm-7 col-md-8 col-lg-9">

            <p *ngIf="router.url === '/admin/user'">Wybierz użytkownika z listy aby obejrzeć szczegóły...</p>

            <router-outlet></router-outlet>

        </div>

    </div>
</section>
