<section class="container-fluid app-content-area">
    
    <div class="row">
    
        <div class="col-sm-5 col-md-4 col-lg-3">
            <section class="app-selection-list">
                <h1 class="app-content-area-header">Użytkownicy: 
                    <button class="btn btn-primary" (click)="selectedUser = newUser(); router.navigate(['new'], { relativeTo: currentRoute })">nowy</button>
                </h1>
                <ul>
                    <li *ngFor="let user of users" class="app-clickable" (click)="selectedUser = user; router.navigate(['view',selectedUser.id], { relativeTo: currentRoute })">
                        {{user.username}}
                    </li>
                </ul>
            </section>
        </div>

        <div class="col-sm-7 col-md-8 col-lg-9">

            <p *ngIf="!selectedUser">Wybierz użytkownika z listy aby obejrzeć szczegóły...</p>

            <router-outlet></router-outlet>

        </div>

    </div>
</section>


