<section class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Nowy dokument</h1>
            <table class="table table-sm  table-bordered">
              <tbody>
                  <tr>
                      <td class="app-col-narrow">wystawca:<span class="float-right"><button class="btn btn-sm btn-primary"  (click)="toggleShowToolSelectAuthor()">(...)</button></span></td>
                      <td class="app-col-wide">
                          <ng-container *ngIf="selectedAuthor">
                              <section class="container-fluid">
                                  <div class="row">
                                      <div class="col mb-3">{{selectedAuthor.full_name}}<br />
                                        <small>{{selectedAuthor.address}}</small></div>
                                  </div>
                              </section>
                          </ng-container>
                          <dcf-tool-select-author *ngIf="showToolSelectAuthor" (onSelectAuthor)="onSelectAuthor($event)"></dcf-tool-select-author>
                      </td>
                  </tr>

                  <tr>
                      <td class="app-col-narrow">ścieżka obiegu:<span class="float-right"><button class="btn btn-sm btn-primary"  (click)="toggleShowToolSelectPath()">(...)</button></span></td>
                      <td class="app-col-wide">
                          <ng-container *ngIf="selectedPath">
                              <section class="container-fluid">
                                  <div class="row">
                                      <div class="col mb-3">{{selectedPath.name}}</div>
                                  </div>
                              </section>
                          </ng-container>
                          <dcf-tool-select-path *ngIf="showToolSelectPath" (onSelectPath)="onSelectPath($event)"></dcf-tool-select-path>
                      </td>
                  </tr>

              </tbody>
            </table>
        </div>
    </div>
</section>
