<section class="container-fluid">

    <div class="row">
        <div class="col">
            <h3>Nowy dokument</h3>
        </div>
    </div>

    <form #f="ngForm" novalidate (ngSubmit)="submitForm(f.valid)" id="myForm" name="myForm" class="p-2 mt-2">

    <!-- hidden form fields: path_id, author_id -->

    <input type="hidden" class="form-control" name="path_id" [(ngModel)]="formModel.path_id" id="path_id" required #pathid="ngModel">
    <input type="hidden" class="form-control" name="author_id" [(ngModel)]="formModel.author_id" id="author_id" required #authorid="ngModel">

    <div class="form-group row">
        <label class="col-lg-2 col-form-label">wystawca<span class="float-right"><button type="button" class="btn btn-sm btn-primary app-cursor-pointer" title="pokaż/ukryj listę wystawców dokumentów" (click)="toggleShowToolSelectAuthor()" tabindex="1">(...)</button></span></label>
        <label class="col col-form-label">
            <ng-container *ngIf="selectedAuthor">
                {{selectedAuthor.full_name}}<br />
                    <small>{{selectedAuthor.address}}</small>
            </ng-container>
            <ng-container *ngIf="!selectedAuthor">
                <span class="text-danger">Wybierz wystawcę dokumentu.</span>
            </ng-container>
            <dcf-tool-select-author *ngIf="showToolSelectAuthor" (onSelectAuthor)="onSelectAuthor($event)"></dcf-tool-select-author>
        </label>
    </div>

    <div class="form-group row">
        <label class="col-lg-2 col-form-label">ścieżka obiegu<span class="float-right"><button type="button" class="btn btn-sm btn-primary app-cursor-pointer" title="pokaż/ukryj listę ścieżek obiegu dokumentów" (click)="toggleShowToolSelectPath()" tabindex="2">(...)</button></span></label>
        <label class="col col-form-label">
            <ng-container *ngIf="selectedPath">
                {{selectedPath.name}}
            </ng-container>
            <ng-container *ngIf="!selectedPath">
                <span class="text-danger">Wybierz ścieżkę obiegu dla nowego dokumentu.</span>
            </ng-container>
            <dcf-tool-select-path *ngIf="showToolSelectPath" (onSelectPath)="onSelectPath($event)"></dcf-tool-select-path>
        </label>
    </div>

    
    <div class="form-group row">
        <label for="name" class="col-lg-2 col-form-label">nazwa dokumentu</label>
        <div class="col">
    
            <input type="text" class="form-control" name="name" [(ngModel)]="formModel.name" id="name"
                required validateNoLeadingSpaces #name="ngModel"
                placeholder="nazwa dokumentu (wymagana)" tabindex="3" autofocus>
    
            <small class="text-danger" [hidden]="name.valid">
                <span *ngIf="name.errors && name.errors.required">Nazwa dokumentu jest wymagana. </span>
                <span *ngIf="name.errors && name.errors.validateNoLeadingSpaces">Nazwa dokumentu nie może rozpoczynać się ani kończyć spacją.</span>
            </small>
        </div>
    </div>
    
    <div class="form-group row">
        <label for="id_by_author" class="col-lg-2 col-form-label">nr. wg wystawcy</label>
        <div class="col">
            <input type="text" class="form-control" name="id_by_author" [(ngModel)]="formModel.id_by_author" id="id_by_author"
                #idbyauthor="ngModel"
                placeholder="numer według wystawcy" tabindex="4">
        </div>
    </div>

    <div class="form-group row">
        <label for="date_by_author" class="col-lg-2 col-form-label">data wg wystawcy</label>
        <div class="col">
            <input type="date" class="form-control" name="date_by_author" [(ngModel)]="formModel.date_by_author" id="date_by_author"
                required #datebyauthor="ngModel"
                placeholder="data według wystawcy" tabindex="5">
            <small class="text-danger" [hidden]="datebyauthor.valid">
                <span *ngIf="datebyauthor.errors && datebyauthor.errors.required">Data wystawienia dokumentu jest wymagana. </span>
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="additional_info" class="col-lg-2 col-form-label">dodatkowe informacje</label>
        <div class="col">
            <textarea [(ngModel)]="formModel.additional_info" name="additional_info" class="form-control" id="additional_info" rows="3"  tabindex="6"></textarea>
        </div>
    </div>

    <div class="form-group row">
        <label for="input_date" class="col-lg-2 col-form-label">data wprowadzenia</label>
        <div class="col">
            <input type="date" class="form-control" name="input_date" [(ngModel)]="formModel.input_date" id="input_date"
                required #inputdate="ngModel"
                placeholder="data wprowadzenia" tabindex="7">
            <small class="text-danger" [hidden]="inputdate.valid">
                <span *ngIf="inputdate.errors && inputdate.errors.required">Data wprowadzenia dokumentu jest wymagana. </span>
            </small>
        </div>
    </div>

    <div class="form-group row">
        <label for="register" class="col-lg-2 col-form-label">rejestr</label>
        <div class="col">
            <input type="text" class="form-control" name="register" [(ngModel)]="formModel.register" id="register"
                #register="ngModel"
                placeholder="rejestr dokumentów" tabindex="8">
        </div>
    </div>

    <div class="form-group row">
        <label for="file_path" class="col-lg-2 col-form-label">plik dokumentu</label>
        <div class="col">
            <input type="text" class="form-control" name="file_path" [(ngModel)]="formModel.file_path" id="file_path"
                #filepath="ngModel"
                placeholder="plik dokumentu" tabindex="9">
        </div>
    </div>

    <div class="form-group row">
        <label for="message" class="col-lg-2 col-form-label">wiadomość</label>
        <div class="col">
            <textarea [(ngModel)]="formModel.message" name="message" class="form-control" id="message" rows="3"  tabindex="10"></textarea>
        </div>
    </div>

    
    <div class="form-group row">
        <div class="col-lg-2"></div>
        <div class="col-12 col-lg-10">
            <dcf-ui-admin-form-buttons  [formButtons]="formButtonConfiguration"></dcf-ui-admin-form-buttons>
        </div>
    </div>

</form>

</section>
